<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Identity.Client" version="2.6.1" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.1" targetFramework="net45" />
  <package id="Microsoft.UI.Xaml" version="2.3.200213001" targetFramework="net45" />
  <package id="Microsoft.Xbox.Services.DevTools" version="2020.6.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net45" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net45" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net45" />
</packages>