<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="0">
  <!-- For more information on MicrosoftGame.config elements,
       please refer to online GDK documentation found at https://aka.ms/GDK_MSGC
       or the MicrosoftGame.config topic in the System section of the offline GDK documentation. -->
  <Identity Name="XboxDeveloperExperienceTe.GamePassSampleGame" Publisher="CN=CE00B9BA-76FD-4DEB-8467-08AFAE3E9B9C" Version="1.0.0.0" />
  <!-- <StoreId>000000000000</StoreId> | StoreID specifies the store identity of this title. -->
  <StoreId>9N4HJ1SPR17N</StoreId>
  <TitleId>790907E2</TitleId>
  <MSAAppId>000000004C3D5752</MSAAppId>
  <ExecutableList>
    <Executable Name="DeleteMe.exe" Id="Game" />
    <!--    TargetDeviceFamily="PC"
            IsDevOnly="false" | IsDevOnly specifies if is a Development only executable.
            OverrideDisplayName="Xbox Game Override"
            OverrideLogo="GraphicsLogoOverride.png"
            OverrideSquare44x44Logo="SmallLogoOverride.png"
            OverrideSplashScreenImage="SplashScreenOverride.png" -->
  </ExecutableList>
  <ShellVisuals DefaultDisplayName="Game Pass Sample Game" PublisherDisplayName="Xbox Developer Experience Team" Square480x480Logo="Square480x480Logo.png" Square150x150Logo="Square150x150Logo.png" Square44x44Logo="Square44x44Logo.png" Description="Testing stuff" ForegroundText="light" BackgroundColor="#000040" SplashScreenImage="SplashScreenImage.png" StoreLogo="StoreLogo.png" />
  <!-- <Resources> | Resources is a list of Language Locale pairs used to localize Shell Visuals.
        <Resource Language="en-us"/>
        <Resource Language="de-de"/>
        <Resource Language="es-mx"/>
  </Resources> -->
  <!-- <DesktopRegistration>
      <CustomInstallActions> | CustomInstallActions specifies a custom installer action with Administrator privileges the first time your game runs.
        <Folder>Installers</Folder>
        <InstallActionList>
          <InstallAction File="CustomInstaller.exe" Name="UniqueInstallTaskName" Arguments="/silent /example" />
        </InstallActionList>
      </CustomInstallActions>
      <DependencyList> | DependencyList determines which framework packages need to be installed before installing the title package.
        <Dependency Name="Microsoft.DirectXRuntime" MinVersion="9.29.952.0"/>
      </DependencyList>
      <ProcessorArchitecture>x64</ProcessorArchitecture> | ProcessorArchitecture specifies the processor architecture that matches your game executables.
      <ModFolder Name="Xbox Game"/> | ModFolder defines the location of end-user mods for your game files.
  </DesktopRegistration> -->
  <ExtendedAttributeList>
    <ExtendedAttribute Name="SandboxIds" Value="JDTDWX.0,JDTDWX.1,JDTDWX.2,XXDP.17,XXDP.19,XXDP.93" />
    <ExtendedAttribute Name="Scid" Value="00000000-0000-0000-0000-0000790907e2" />
  </ExtendedAttributeList>
  <DevelopmentOnly>
    <ContentIdOverride>3EA05A8A-CF24-4938-A6D8-389540AEB2E4</ContentIdOverride>
  </DevelopmentOnly>
  <DesktopRegistration>
    <DependencyList>
      <KnownDependency Name="VC14" />
    </DependencyList>
    <ProcessorArchitecture>x64</ProcessorArchitecture>
    <MultiplayerProtocol>false</MultiplayerProtocol>
  </DesktopRegistration>
</Game>